#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.container
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  color: black;
}
.card {
  border: 2px solid black;
  width: 30%;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
}
.btn
{
  margin-bottom:20px ;
  color: black;
  border-radius: 10px;
  background-color: blue;
}
h3,h2{
  margin: 5px;
}
img{
  margin-top: 10px;
}
.read-the-docs {
  color: #888;
}
